$background : #d3d3d3;
body {
  font-family: monospace;
}

.containerTop {
  background: $background;
  border: 3px solid black;
  padding: 40px 80px;
}

.row {
  padding: 10px;
}

#description, #created, #repo {
  color: #34495E;
  font-weight: bold;
  background-color: #D2D7D3;
}

.repos{
  margin: 5px;
  background-color: #FDE3A7;
}